.axis path,
.axis line{
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    color: white;
    font-family: sans-serif;
    font-size: 11px;
}

.domain{
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;	
}

.tick line{
	stroke:white;
}

.tick text{
	fill:white;
}