html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.title {
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.main-frame {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.main-frame>.nav-frame {
    width: 12%;
    height: 80%;
    margin-right: 0.5%;
    box-sizing: border-box;
    border: 1px solid grey;
    float:left;
}

.main-frame>.map-frame {
    width: 68%;
    height: 80%;
    margin-right: 0.5%;
    box-sizing: border-box;
    border: 1px solid grey;
    float:left;
}

.main-frame>.info-frame {
    width: 19%;
    height: 80%;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid grey;
    float:left;
}

.main-frame>.time-frame {
    width: 100%;
    height: 15%;
    margin-top: 0.5%;
    padding: 1% 0% 1% 0%;
    box-sizing: border-box;
    border: 1px solid grey;
    float:left;
}