.main-frame>.right-frame>.task-frame>.title {
    font-size: 17px;
/*     margin: 10px 0 10px 0; */
}

.main-frame>.right-frame>.task-frame>.task-button {
    display:inline;
    width:30%;
    height: 100%;
    border-width: 0px;
    border-radius: 10px;
    background: steelwhite;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    text-align: center;
    margin-right:2px;
    margin-left:2px;
}

.main-frame>.right-frame>.task-frame>.task-button:hover {
    border-color: rgb(54, 70, 84);
    color: rgb(40, 60, 79);
}

.main-frame>.right-frame>.task-frame>.button-active {
    color: #ffffff;
    background: rgba(157, 255, 235, 0.45);
}

.title_button{
    display:inline;
    border-width: 0px;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-right:2px;
    margin-left:2px;
}