.main-frame>.time-frame>.time-slider {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid grey; */
    float: left;
    display:flex;
	justify-content:center;
	align-items:center;
}

.main-frame>.time-frame>.time-value {
    width: 10%;
    height: 40%;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid grey; */
    float: left;
    display:flex;
	justify-content:center;
	align-items:center;
}

.main-frame>.time-frame>.time-clock {
    width: 10%;
    height: 60%;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid grey; */
    float: left;
    background:none;
	display:flex;
	justify-content:center;
	align-items:center;
}

.main-frame>.time-frame>.time-clock>span:hover {
    color:#40a9ff;
}

.main-frame>.time-frame>.time-title{
    display:inline;
    border-width: 0px;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-right:2px;
    margin-left:2px;
}